<%- include("partials/header") %>

        <main id="main">
            <div id="cocktail-main-container">

                <nav>
                    <ul id="cocktail-nav">
                        <li><a href="/cocktails">Liste des cocktails</a></li>
                        <p>></p>
                        <li id="cocktail-nav-current"><%=cocktailInfo.name%></li>
                    </ul>
                </nav>

                <div id="cocktail-container">
                    <h2><%=cocktailInfo.name.charAt(0).toUpperCase() + cocktailInfo.name.slice(1)%></h2>
                    <div id="cocktail-top-section">
                        <div id="cocktail-img-big" style="background-image: url('/images/<%= cocktailInfo.picture %> ');" alt="Image de <%= cocktailInfo.name %>"></div>
                        <% if (cocktailInfo.labels) { %>
                            <div id="labels-container">
                                <button id="add-favourites-btn" class="button" type="button" data-cocktail-id="<%= cocktailInfo.id %>">Ajouter aux favoris</button>
                                <ul id="labels-list">
                                    <% cocktailInfo.labels.forEach(label => { %>
                                        <li class="cocktail-label"><%= label %></li>
                                    <% }) %>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                    <div id="recipe-container">
                        <div class="ingredients-container">
                            <h3>Ingrédients :</h3>
                            <ul class="ingredients-list">
                                <% cocktailInfo.ingredients.forEach(ingredient => { %>
                                    <li>- <%= ingredient.name %> : <%= ingredient.quantity %> <%= ingredient.unit %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <% if (cocktailInfo.garnitures) { %>
                        <div class="ingredients-container">
                            <h3>Garnitures :</h3>
                            <ul class="ingredients-list">
                                <% cocktailInfo.garnitures.forEach(garniture => { %>
                                    <li>- <%= garniture.name %> : <%= garniture.quantity %> <%= garniture.unit %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <% } %>
                        <div id="instruction-container">
                            <h3>Recette :</h3>
                            <p id="instruction">
                                <%= cocktailInfo.instruction %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

<%- include("partials/footer") %>