<%- include("partials/header") %>

        <!-- MAIN -->
        <main id="main">
            <div id="cocktail-info">

                <h2><%= cocktail.name %></h2>

                <div class="cocktail-picture"><img src="/images/<%= cocktail.picture %>" alt="Image de <%= cocktail.name %>"></div>

                <div id="ingredients">Ingredients : <ul>
                    <% cocktailIngredients.forEach(ingredient => { %>
                 <li><%= ingredient.name %> : <%= ingredient.quantity %> <%= ingredient.unit %></li>
                <% }) %>
                </ul></div>

                <% if (cocktailGarnishes.length > 0) { %>
                <div id="garnishes">Garniture : <% cocktailGarnishes.forEach(garnish => { %>
                <li><%= garnish.name %> : <%= garnish.quantity %> <%= garnish.unit %></li>
                <% }) %></div>
                <% } %>
                
                <div id="recipe"><p>Recette : <%= cocktail.instruction %></p></div>
            </div>
        </main>
<%- include("partials/footer") %>