<%- include("partials/header") %>

<%- include('partials/profileNav') %>
    <div class="profile-content" id="new-cocktail-content">
            <h2>Votre cocktail :</h2>
                <form method="POST" action="/newcocktail" id="new-cocktail-form">
                    <label for="name-input">Nom de la recette :</label>
                    <input class="input" id="name-input" type="text" name="name">
                    <label for="instruction-input">Recette :</label>
                    <textarea class="input" id ="instruction-input" name="instruction"></textarea>
                    <label for="ingredient-input">Ingrédient 1 :</label>
                    <div id="ingredients-section">
                        <select class="dropdown-menu" id="ingredient-1" name="ingredientId">
                            <% ingredients.forEach(ingredient => { %>
                                <option value="<%= ingredient.id %>"><%= ingredient.name %>(<%= ingredient.unit %>)</option>
                            <% }) %>
                        </select>
                        <label for="quantity-input">Quantité pour l'ingrédient 1 :</label>
                        <input class="quantity-input" id="quantity-1" name="quantity">
                    </div>
                    <div class="add-ingredient-button">+ Ajouter un ingrédient</div>
                    <button type="submit" class="button">Envoyer</button>
                </form>
    </div>
</main>

<%- include("partials/footer") %>