<%- include("partials/header") %>

<%- include('partials/profileNav') %>
    <div class="profile-content" id="new-cocktail-content">
            <h2>Votre cocktail</h2>
                <form class="profil-form" id="new-cocktail-form" method="POST" action="/newcocktail">
                    <label for="name-input">Nom de la recette</label>
                    <input id="name-input" type="text" name="name" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\d'\-\s]+$" required>
                    <label for="instruction-input">Recette</label>
                    <textarea id ="instruction-input" name="instruction"></textarea>
                    <div id="ingredients-section">
                        <label id="ingredients-label" for="ingredient-input">Ingrédients</label>
                        <select class="new-cocktail-dropdown" id="ingredient-1" name="ingredientId">
                            <% ingredients.forEach(ingredient => { %>
                                <option value="<%= ingredient.id %>"><%= ingredient.name %>(<%= ingredient.unit %>)</option>
                            <% }) %>
                        </select>
                        <label for="quantity-input">Quantité</label>
                        <input type="number" id="quantity-1" name="quantity" required>
                    
                        <label id="ingredients-label" for="ingredient-input">Ingrédients</label>
                        <select class="new-cocktail-dropdown" id="ingredient-1" name="ingredientId">
                            <% ingredients.forEach(ingredient => { %>
                                <option value="<%= ingredient.id %>"><%= ingredient.name %>(<%= ingredient.unit %>)</option>
                            <% }) %>
                        </select>
                        <label for="quantity-input">Quantité</label>
                        <input type="number" id="quantity-1" name="quantity" required>
                    </div>
                    <div class="add-ingredient-button">+ Ajouter un ingrédient</div>
                    <button type="submit" class="button">Envoyer</button>
                </form>
    </div>
</main>
<script type="module" src="/js/newCocktail.js" defer></script>
<%- include("partials/footer") %>