<%- include("partials/header") %>
<%- include('partials/profileNav') %>

<div class="profile-content" id="parameters-content">
        <% if (userInfo) { %>
            <h2>Paramètres du compte</h2>
                <form id="parameters-form">
                        <label for="firstname">Nom :</label>
                        <input type="text" name="firstname" value="<%= userInfo.firstname %>" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s'-]+$">
                        <label for="lastname">Prénom :</label>
                        <input type="text" name="lastname" value="<%= userInfo.lastname %>" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s'-]+$">
                        <label for="birthdate">Date de naissance :</label>
                        <input type="number" name="birthdate" value="<%= userInfo.birthdate %>" pattern="[0-9]{4}">
                        <label for="email">E-mail :</label>
                        <input type="email" name="email" value="<%= userInfo.email %>">
                        <label for="location">Ville :</label>
                        <input type="text" name="location" value="<%= userInfo.location %>" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s'-]+$">
                        <label for="hobbies">Loisirs :</label>
                        <input type="text" name="hobbies" value="<%= userInfo.hobbies %>" pattern="^(.|\s)*[a-zA-Z]+(.|\s)*$">
                    <button type="submit" id="parameters-modification-btn" disabled>Enregistrer</button>
                </form>
        <% } %>
    </div>

</main>

<%- include("partials/footer") %>
