<%- include("partials/header") %>

<!-- MAIN -->
<main id="main">
    <nav id="user-nav">
        <ul id="nav-profile-link">
            <li class="nav-item"><div id="parameters-link" class="nav-item-link">Paramètres du compte</div></li>
            <li class="nav-item"><div id="favourite-link" class="nav-item-link">Mes favoris</div></li>
            <li class="nav-item"><div id="mycocktails-link" class="nav-item-link">Mes créations</div></li>
            <li class="nav-item"><div id="newcocktail-link" class="nav-item-link">Proposer une recette</div></li>
            <li class="nav-item"><div id="contact-admin-link" class="nav-item-link">Contacter un admin</div></li>
        </ul>
    </nav>
    <div id="profile-main-container">
        <% if (userInfo) { %>
        <form action="POST">
            <label for="lastname">Votre prénom</label>
                <input type="text"  name="lastname" value="<%= userInfo.lastname %>">
            <label for="firstname">Votre nom</label>
                <input type="text"  name="firstname" value="<%= userInfo.firstname %>">
            <label for="birthdate">Votre date de naissance</label>
                <input type="text"  name="birthdate" value="<%= userInfo.birthdate %>">
            <label for="email">Votre email</label>
                <input type="text"  name="email" value="<%= userInfo.email %>">
            <label for="email">Votre ville</label>
                <input type="text"  name="location" value="<%= userInfo.location %>">
            <label for="email">Vos loisirs</label>
                <input type="text"  name="hobbies" value="<%= userInfo.hobbies %>">
        </form>
        <% } %>
    </div>                  
</main>


  

<%- include("partials/footer") %>