<%- include("partials/header") %>
<%- include('partials/profileNav') %>

<div class="profile-content" id="parameters-content">
        <% if (userInfo) { %>
            <h2>Paramètres du compte</h2>
            <div id="parameters-list">
                <ul>
                    <li class="parameters">Votre nom : <%= userInfo.firstname %></li>
                    <li class="parameters">Votre prénom : <%= userInfo.lastname %></li>
                    <li class="parameters">Votre année de naissance : <%= userInfo.birthdate %></li>
                    <li class="parameters">Votre email : <%= userInfo.email %></li>
                    <li class="parameters">Votre ville : <%= userInfo.location %></li>
                    <li class="parameters">Vos loisirs : <%= userInfo.hobbies %></li>
                </ul>
                <button id="parameters-modification-btn" class="" type="button">Modifier</button>
                <button id="delete-account-button" type="button">Supprimer mon compte</button>            
            </div>
                <form id="parameters-form" style="display : none;">
                    <input type="text" name="firstname" value="<%= userInfo.firstname %>">
                    <input type="text" name="lastname" value="<%= userInfo.lastname %>">
                    <input type="text" name="birthdate" value="<%= userInfo.birthdate %>">
                    <input type="text" name="email" value="<%= userInfo.email %>">
                    <input type="text" name="location" value="<%= userInfo.location %>">
                    <input type="text" name="hobbies" value="<%= userInfo.hobbies %>">
                <button id="parameters-save-changes-btn">Enregistrer</button>    
                </form>
        <% } %>
    </div>

    <!-- MODALE SUPPRESSION -->
<!--     <div class="modal-deletion-confirmation">
        <div class="overlay deletion-modal-trigger"></div>
        <div class="modal-deletion">
            <button class="close-modal-deletion deletion-modal-trigger">X</button>
                <h2 id="modalTitle">Voulez-vous vraiment supprimer votre compte ?</h1>
                    <button id="confirmed-deletion" type="button">Oui</button>
                    <button id="no-deletion" type="button">Non</button>
        </div>
	</div> -->
</main>

<%- include("partials/footer") %>