<%- include("partials/header") %>
<%- include("partials/profileNav") %>


<!-- COCKTAILS CONTAINER-->
<div class="profile-content" id="parameters-content">
        <h2>Vos créations</h2>
            <% if (userCocktails.length === 0) { %>
                <p>Vous n'avez pas créé de cocktail.</p>
            <% } else { %>
                <% userCocktails.forEach(userCocktail => { %>
                    <a class="cocktail cocktails-container-item" href="/cocktail/<%=userCocktail.id%>">
                        <h3 class="cocktail-title-mini"><%=userCocktail.name.charAt(0).toUpperCase() + userCocktail.name.slice(1)%></h3>
                        <div class="cocktail-mini" style="background-image: url('/images/<%= userCocktail.picture %> ');" alt="Image de <%= userCocktails.name %>" id="<%= userCocktails.id %>"></div>
                    </a>
                <% }) %>
            <% } %>

    </div>
</main>

<%- include("partials/footer") %>